{% extends "layout" %}

{% block title %}Monitors{% endblock %}

{% block pageTitle %}
<div class="container-xl">
    <div class="row g-2 align-items-center">
        <div class="col">
            <div class="row align-items-center">
                <div class="col">
                    <div class="page-pretitle">Overview</div>
                    <h2 class="page-title">Monitors</h2>
                </div>
                <div class="col-auto ms-auto">
                    <div class="btn-list">
                        <div class="btn btn-icon" onclick="refreshMonitorList()">
                            {% include "icons/refresh" %}
                        </div>
                        <div class="dropdown">
                            <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                {% include "icons/settings" %}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/api/v1/monitors/export/yaml" download>
                                    {% include "icons/download" %}
                                    Download backup as YAML</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-table table-responsive">
                <div id="monitors-list"
                     hx-get="/fragments/monitors/list"
                     hx-trigger="load, refresh-monitor-list"
                     hx-on:htmx:after-swap="reInitTooltips()">
                    <div class="spinner-grow htmx-indicator" role="status"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customScripts %}
<script>
    function refreshMonitorList() {
        sendHtmxEvent('#monitors-list','refresh-monitor-list');
    }
</script>
{% endblock %}
