---
micronaut:
  security:
    token:
      jwt:
        signatures:
          secret:
            generator:
              secret: devSecretItsVeryVerySecretSecret
---
datasources:
  default:
    username: 'postgres'
    password: 'pass'
---
http-communication-log:
  enabled: true
---
handler-config:
  smtp-event-handler:
    enabled: ${ENABLE_SMTP_EVENT_HANDLER:`false`}
    from: ${SMTP_FROM_ADDRESS:`noreply@kuvasz.uptime'`}
    to: ${SMTP_TO_ADDRESS:`recipient@kuvasz.uptime`}
  pagerduty-event-handler:
    enabled: true
---
admin-auth:
  username: user
  password: pass3j4hkhk23hk23k232hk3h232
---
smtp-config:
  host: ${SMTP_HOST:`smtp.mailtrap.io`}
  port: ${SMTP_PORT:`465`}
