<configuration>
    <variable name="communicationLogLevel" value="${HTTP_COMMUNICATION_LOG_LEVEL:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <if condition='property("LOG_FORMAT").equals("JSON")'>
            <then>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </then>
            <else>
                <withJansi>true</withJansi>
                <encoder>
                    <pattern>
                        %cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
                    </pattern>
                </encoder>
            </else>
        </if>
    </appender>

    <logger name="org.jooq" level="ERROR"/>
    <logger name="com.kuvaszuptime.kuvasz.services.HttpCommunicationLogger" level="${communicationLogLevel}"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
