<configuration>
    <contextListener class="com.kuvaszuptime.kuvasz.config.LoggerStartupListener"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.jooq" level="ERROR"/>
    <logger name="com.kuvaszuptime.kuvasz.services.HttpCommunicationLogger" level="${HTTP_COMMUNICATION_LOG_LEVEL}"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
