/* Badge */
.md-typeset .mdx-badge {
  font-size: 0.85em;
}

/* Badge with heart */
.md-typeset .mdx-badge--heart {
  --md-typeset-a-color: hsla(340, 77%, 72%, 1);
  --md-accent-fg-color: hsla(340, 100%, 63%, 1);
  --md-accent-fg-color--transparent: hsla(340, 77%, 72%, 0.1);

  color: #ec407a;
}

.md-typeset .mdx-badge--heart .twemoji {
  animation: heart 1000ms infinite;
}

/* Badge moved to the right */
.md-typeset .mdx-badge--right {
  float: right;
  margin-left: 0.35em;
}

/* Badge icon */
.md-typeset .mdx-badge__icon {
  padding: 4px;
  background: var(--md-accent-fg-color--transparent);
  border-start-start-radius: 2px;
  border-end-start-radius: 2px;
}

.md-typeset .mdx-badge__icon:last-child {
  border-radius: 2px;
}

/* Badge text */
.md-typeset .mdx-badge__text {
  padding: 4px 6px;
  border-start-end-radius: 2px;
  border-end-end-radius: 2px;
  box-shadow: 0 0 0 1px inset var(--md-accent-fg-color--transparent);
}

/* Utility classes */
.align-center {
  text-align: center;
}

/* Card icon */
.md-typeset .card-header-icon {
  vertical-align: top;
  margin-right: 0.2em;
}
