/* TomSelect clear button */
div.ts-wrapper.form-select.plugin-clear_button > div.ts-control > div.clear-button {
    border: none;
    transform: translateY(-62%);
    font-size: 24px;
}

/* TomSelect item remove button */
.ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
    border-left: none;
}

.ts-wrapper .ts-control > div.item {
    border-radius: 6px; /* Match the border-radius of the parent input */
}
