{% import "fragments/monitor/uptime-status-badge" %}

<div class="col-12">
    <div class="card">
        <div class="card-table table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Started at</th>
                    <!--                    <th>Ended at</th>-->
                    <th class="d-none d-md-table-cell">Duration</th>
                    <th class="d-none d-md-table-cell">Details</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ uptimeStatusOfEvent(event) }}</td>
                    <td class="text-nowrap">{{ event.startedAt | date('yyyy/MM/dd HH:mm:ss') }}</td>
                    <!--                    <td class="text-nowrap">{{ event.endedAt | date('yyyy/MM/dd HH:mm:ss') }}</td>-->
                    <td class="text-nowrap d-none d-md-table-cell">{{ event.startedAt | interval(event.endedAt |
                        default(event.updatedAt)) }}
                    </td>
                    <td class="text-wrap d-none d-md-table-cell">{{ event.error }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
