<div id="monitor-details-ssl-summary" class="row row-cards mb-3" hx-swap-oob="true">
    <div class="col-md-4">
        <div class="card">
            <div class="card-status-start
            {% if monitor.sslStatus.literal == 'WILL_EXPIRE' %}
            bg-warning
            {% elseif monitor.sslStatus.literal == 'VALID' %}
            bg-success
            {% elseif monitor.sslStatus.literal == 'INVALID' %}
            bg-danger
            {% elseif monitor.sslStatus is null %}
            bg-orange
            {% endif %}"></div>
            <div class="card-body">
                {% if monitor.sslStatusStartedAt is not null %}
                <div class="subheader">
                    {% if monitor.sslStatus.literal == 'VALID' %}
                    Valid
                    {% elseif monitor.sslStatus.literal == 'INVALID' %}
                    Invalid
                    {% elseif monitor.sslStatus.literal == 'WILL_EXPIRE' %}
                    Will expire soon
                    {% endif %}
                </div>
                <div class="h4 m-0"
                     {% if monitor.sslError is not empty %}
                     data-bs-toggle="tooltip"
                     data-bs-placement="right"
                     title="{{ monitor.sslError }}"
                     {% endif %}
                >
                    {% if monitor.sslStatus.literal == 'VALID' %}
                    Until: {{ monitor.sslValidUntil | date('yyyy/MM/dd HH:mm:ss') }}
                    {% elseif monitor.sslStatus.literal == 'INVALID' %}
                    Reason: {{ monitor.sslError | abbreviate(40) }}
                    {% elseif monitor.sslStatus.literal == 'WILL_EXPIRE' %}
                    At: {{ monitor.sslValidUntil | date('yyyy/MM/dd HH:mm:ss') }}
                    {% endif %}
                </div>
                {% else %}
                <div class="subheader">SSL status is not available</div>
                <div class="h4 m-0">Waiting for the first check</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="subheader">Last check</div>
                {% if monitor.lastSSLCheck is not null %}
                <div class="h4 m-0">{{ monitor.lastSSLCheck | timeago }}</div>
                {% else %}
                <div class="h4 m-0">Waiting for the first check</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="subheader">Next check</div>
                {% if monitor.enabled %}
                <div class="h4 m-0">{{ monitor.nextSSLCheck | timeago }}</div>
                {% else %}
                <div class="h4 m-0">Monitor is paused</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
