{% import "fragments/monitor/uptime-status-badge" %}
{% import "fragments/monitor/ssl-status-badge" %}
{% import "fragments/monitor/delete-monitor-modal" %}

<table x-data="{ isReadOnlyMode: {{ isReadOnlyMode }}}"
       class="table table-sm table-vcenter card-table">
    <thead>
    <tr>
        <th>Name</th>
        <th class="text-center">Status</th>
        <th class="d-none d-md-table-cell text-center">SSL</th>
        <th class="d-none d-lg-table-cell text-center">Changed</th>
        <th class="d-none d-lg-table-cell text-center">Next check</th>
        {% if not isReadOnlyMode %}
        <th class="text-center">Actions</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for m in monitors%}
    <tr x-data="{
            monitorId: {{ m.id }},
            isMonitorEnabled: {{ m.enabled }},
            isRequestLoading: false,
            toggleMonitor() {
                this.isRequestLoading = true;
                fetch('/api/v1/monitors/' + this.monitorId, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ enabled: !this.isMonitorEnabled })
                })
                .then(response => {
                    if (response.ok) {
                        // Dispatch an event for htmx to refresh the monitor list
                        refreshMonitorList();
                    } else {
                        console.error('Error toggling monitor:', response.statusText);
                        alert('An error occurred while toggling the monitor, refer to the console for more details');
                    }
                })
                .catch(error => {
                    this.isRequestLoading = false;
                    console.error('Error toggling monitor:', error);
                    alert('An error occurred while toggling the monitor. Please try again.');
                })
            },
            deleteMonitor() {
                this.isRequestLoading = true;
                fetch('/api/v1/monitors/' + this.monitorId, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        // Dispatch an event for htmx to refresh the monitor list
                        refreshMonitorList();
                    } else {
                        console.error('Error deleting monitor:', response.statusText);
                        alert('An error occurred while deleting the monitor, refer to the console for more details');
                    }
                })
            }
        }">
        <td>
            <a href="/monitors/{{ m.id }}" class="text-reset">
                <span class="text-wrap text-break" data-bs-toggle="tooltip"
                      data-bs-placement="right" title="{{ m.url }}">{{ m.name | abbreviate(50) }}</span>
            </a>
        </td>
        <!--BEGIN STATUS-->
        <td class="text-center">
            {{ uptimeStatusOfMonitor(monitor = m, withBadge = true, withTooltip = true) }}
        </td>
        <!--END STATUS-->
        <!--BEGIN SSL-->
        <td class="d-none d-md-table-cell text-center">
            {{ sslStatusOfMonitor(monitor = m, withTooltip = true) }}
        </td>
        <!--END SSL-->
        <!--BEGIN CHANGED-->
        <td class="text-nowrap d-none d-lg-table-cell text-center">
                <span data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="{{ m.uptimeStatusStartedAt | date('yyyy/MM/dd HH:mm:ss') }}">
                    {{ m.uptimeStatusStartedAt | timeago }}
                </span>
        </td>
        <!--END CHANGED-->
        <!--BEGIN NEXT CHECK-->
        <td class="text-nowrap d-none d-lg-table-cell text-center">
                <span data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="{{ m.nextUptimeCheck | date('yyyy/MM/dd HH:mm:ss') }}">
                    {{ m.nextUptimeCheck | timeago }}
                </span>
        </td>
        <!--END NEXT CHECK-->
        <!--BEGIN ACTIONS-->
        {% if not isReadOnlyMode %}
        <td class="text-center">
            <div class="btn-group flex-nowrap">
                <!--BEGIN TOGGLE-->
                <button class="btn btn-icon" :disabled="isRequestLoading" @click="toggleMonitor()">
                    {% if m.enabled %}
                    {% include "icons/pause" %}
                    {% else %}
                    {% include "icons/play" %}
                    {% endif %}
                </button>
                <!--END TOGGLE-->
                <!--BEGIN DELETE-->
                <button class="btn btn-icon text-red" :disabled="isRequestLoading" data-bs-toggle="modal"
                        data-bs-target="#delete-monitor-modal-{{ m.id }}">
                    {% include "icons/trash" %}
                </button>
                <!--END DELETE-->
            </div>
            {{ deleteMonitorModal(id = m.id, name = m.name) }}
        </td>
        {% endif %}
        <!--END ACTIONS-->
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
