{% macro sslStatusOfMonitor(monitor, withTooltip) %}
{% if monitor.enabled and monitor.sslCheckEnabled %}
{% if monitor.sslStatus.literal == 'VALID' %}
<span class="status status-green"
      {% if withTooltip %}
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Valid until: {{ monitor.sslValidUntil | date('yyyy/MM/dd HH:mm:ss') }}"
      {% endif %}
>
    {% include "icons/lock-closed" %}
</span>
{% elseif monitor.sslStatus.literal == 'INVALID' %}
<span class="status status-red"
      {% if withTooltip %}
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Invalid"
      {% endif %}
>
    {% include "icons/lock-open" %}
</span>
{% elseif monitor.sslStatus.literal == 'WILL_EXPIRE' %}
<span class="status status-yellow"
      {% if withTooltip %}
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Expires soon, valid until: {{ monitor.sslValidUntil | date('yyyy/MM/dd HH:mm:ss') }}"
      {% endif %}
>
    {% include "icons/timer" %}
</span>
{% else %}
<span class="status status-orange"
      {% if withTooltip %}
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Waiting for the first check"
      {% endif %}
>
    {% include "icons/lock-question" %}
</span>
{% endif %}
{% else %}
<span class="status status-gray"
      {% if withTooltip %}
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Disabled"
      {% endif %}
>
    {% include "icons/lock-off" %}
</span>
{% endif %}
{% endmacro %}

{% macro sslStatusOfEvent(event) %}
<span class="status
        {% if event.status.literal == 'VALID' %}
        status-green
        {% elseif event.status.literal == 'WILL_EXPIRE' %}
        status-yellow
        {% else %}
        status-red
        {% endif %}"
      {% if event.error is not null %}
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="{{ event.error }}"
      {% endif %}
>
    <span class="status-dot"></span>
    <span class="d-none d-md-inline">
        {% if event.status.literal == 'VALID' %}
        Valid
        {% elseif event.status.literal == 'WILL_EXPIRE' %}
        Expires soon
        {% else %}
        Invalid
        {% endif %}
    </span>
</span>
{% endmacro %}
