<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
        <!-- BEGIN NAVBAR TOGGLER -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
                aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- END NAVBAR TOGGLER -->
        <!-- BEGIN NAVBAR LOGO -->
        <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                <img class="me-3" src="/public/kuvasz-avatar.png" width="32" height="32" alt="Kuvasz">Kuvasz</a>
        </div>
        <!-- END NAVBAR LOGO -->
        <div class="navbar-nav flex-row order-md-last">
            {% if isReadOnlyMode %}
            <div class="nav-item d-md-flex me-3">
                <div class="btn btn-icon px-0" data-bs-toggle="tooltip"
                     data-bs-placement="bottom"
                     title="Kuvasz is in read-only mode, because the monitors were configured via YAML. You can only view the monitors, but not edit or delete them.">
                    {% include "icons/lock-cog.html" %}
                </div>
            </div>
            {% endif %}
            <div class="nav-item d-md-flex">
                <a href="#" class="nav-link px-0 hide-theme-dark" aria-label="Enable dark mode"
                   onclick="setTheme('dark')">
                    {% include "icons/dark-mode.html" %}
                </a>
                <a href="#" id="light-mode-toggle" class="nav-link px-0 hide-theme-light"
                   aria-label="Enable light mode" onclick="setTheme('light')">
                    {% include "icons/light-mode.html" %}
                </a>
            </div>
            {% if isAuthenticated and isAuthEnabled %}
            <div class="nav-item ms-3">
                <a href="/auth/logout" class="btn btn-primary btn-icon" aria-label="Sign out" rel="noreferrer">
                    {% include "icons/logout-outline.html" %}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
