<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="main-header" class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
        <!-- BEGIN NAVBAR TOGGLER -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
                aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- END NAVBAR TOGGLER -->
        <!-- BEGIN NAVBAR LOGO -->
        <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                <img class="me-3" src="/public/kuvasz-avatar.png" width="32" height="32" alt="Kuvasz">Kuvasz</a>
        </div>
        <!-- END NAVBAR LOGO -->
        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-none d-md-flex me-3">
                <div class="btn-list">
                    <a href="https://github.com/kuvasz-uptime/kuvasz" class="btn btn-icon" target="_blank"
                       rel="noreferrer">
                        <svg th:replace="~{fragments/icons :: brand-github}"></svg>
                    </a>
                </div>
            </div>
            <div class="nav-item d-md-flex">
                <a href="#" class="nav-link px-0 hide-theme-dark" data-bs-toggle="tooltip"
                   data-bs-placement="bottom" aria-label="Enable dark mode"
                   data-bs-original-title="Enable dark mode" onclick="setTheme('dark')">
                    <svg th:replace="~{fragments/icons :: dark-mode}"></svg>
                </a>
                <a href="#" id="light-mode-toggle" class="nav-link px-0 hide-theme-light" data-bs-toggle="tooltip"
                   data-bs-placement="bottom" aria-label="Enable light mode"
                   data-bs-original-title="Enable light mode" onclick="setTheme('light')">
                    <svg th:replace="~{fragments/icons :: light-mode}"></svg>
                </a>
            </div>
            <div th:if="${isAuthenticated && isAuthEnabled}" class="nav-item ms-3">
                <a href="/auth/logout" class="btn btn-primary btn-icon"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom" aria-label="Sign out"
                   data-bs-original-title="Sign out"
                   rel="noreferrer">
                    <svg th:replace="~{fragments/icons :: logout-outline}"></svg>
                </a>
            </div>
        </div>
    </div>
</header>
</body>
</html>
