<div class="table-responsive">
    <table id="monitor-table"
           x-data="{ isReadOnlyMode: {{ isReadOnlyMode }}}"
           class="table table-sm table-vcenter card-table">
        <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">Status</th>
            <th class="d-none d-md-table-cell text-center">SSL</th>
            <th class="d-none d-lg-table-cell text-center">Changed</th>
            <th class="d-none d-lg-table-cell text-center">Next check</th>
            {% if not isReadOnlyMode %}
            <th class="text-center">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for m in monitors%}
        <tr x-data="{
            monitorId: {{ m.id }},
            isMonitorEnabled: {{ m.enabled }},
            isRequestLoading: false,
            toggleMonitor() {
                this.isRequestLoading = true;
                fetch('/api/v1/monitors/' + this.monitorId, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ enabled: !this.isMonitorEnabled })
                })
                .then(response => {
                    if (response.ok) {
                        // Dispatch an event for htmx to refresh the monitor list
                        refreshMonitorList();
                    } else {
                        console.error('Error toggling monitor:', response.statusText);
                        alert('An error occurred while toggling the monitor, refer to the console for more details');
                    }
                })
                .catch(error => {
                    this.isRequestLoading = false;
                    console.error('Error toggling monitor:', error);
                    alert('An error occurred while toggling the monitor. Please try again.');
                })
            },
            deleteMonitor() {
                this.isRequestLoading = true;
                fetch('/api/v1/monitors/' + this.monitorId, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        // Dispatch an event for htmx to refresh the monitor list
                        refreshMonitorList();
                    } else {
                        console.error('Error deleting monitor:', response.statusText);
                        alert('An error occurred while deleting the monitor, refer to the console for more details');
                    }
                })
            }
        }">
            <td>
                <a href="/monitors/{{ m.id }}" class="text-reset">
                <span class="text-wrap text-break" data-bs-toggle="tooltip"
                      data-bs-placement="right" title="{{ m.url }}">{{ m.name | abbreviate(50) }}</span>
                </a>
            </td>
            <!--BEGIN STATUS-->
            <td class="text-center">
                {% if m.enabled and m.uptimeStatus is not null %}
                {% if m.uptimeStatus.literal == 'UP' %}
                <span class="status status-green">
                        <span class="status-dot status-dot-animated"></span>
                        <span class="d-none d-md-inline">{{ m.uptimeStatus.literal }}</span>
                    </span>
                {% else %}
                <span class="status status-red" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="{{ m.uptimeError | default('Unknown error') }}">
                        <span class="status-dot status-dot-animated"></span>
                    <span class="d-none d-md-inline">{{ m.uptimeStatus.literal }}</span>
                    </span>
                {% endif %}
                {% elseif m.enabled and m.uptimeStatus is null %}
                <span class="status status-yellow">
                    <span class="status-dot status-dot-animated"></span>
                    <span class="d-none d-md-inline">In Progress</span>
                </span>
                {% elseif not m.enabled %}
                <span class="status status-gray">
                    <span class="status-dot"></span>
                    <span class="d-none d-md-inline">Paused</span>
                </span>
                {% endif %}
            </td>
            <!--END STATUS-->
            <!--BEGIN SSL-->
            <td class="d-none d-md-table-cell text-center">
                {% if m.enabled and m.sslCheckEnabled %}
                {% if m.sslStatus.literal == 'VALID' %}
                <span class="status status-green" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="Valid until: {{ m.sslValidUntil | date('yyyy/MM/dd HH:mm:ss') }}">
                                {% include "icons/lock-closed.html" %}
                    </span>
                {% elseif m.sslStatus.literal == 'INVALID' %}
                <span class="status status-red" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="Invalid">
                                {% include "icons/lock-open.html" %}
                    </span>
                {% elseif m.sslStatus.literal == 'WILL_EXPIRE' %}
                <span class="status status-yellow" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="Expires soon, valid until: {{ m.sslValidUntil | date('yyyy/MM/dd HH:mm:ss') }}">
                                {% include "icons/timer.html" %}
                    </span>
                {% else %}
                <span class="status status-orange" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="Waiting for the first check">
                        {% include "icons/lock-question.html" %}
                    </span>
                {% endif %}
                {% else %}
                <span class="status status-gray" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="Disabled">
                    {% include "icons/lock-off.html" %}
                </span>
                {% endif %}
            </td>
            <!--END SSL-->
            <!--BEGIN CHANGED-->
            <td class="text-nowrap d-none d-lg-table-cell text-center">
                <span data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="{{ m.uptimeStatusStartedAt | date('yyyy/MM/dd HH:mm:ss') }}">
                    {{ m.uptimeStatusStartedAt | timeago }}
                </span>
            </td>
            <!--END CHANGED-->
            <!--BEGIN NEXT CHECK-->
            <td class="text-nowrap d-none d-lg-table-cell text-center">
                <span data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="{{ m.nextUptimeCheck | date('yyyy/MM/dd HH:mm:ss') }}">
                    {{ m.nextUptimeCheck | timeago }}
                </span>
            </td>
            <!--END NEXT CHECK-->
            <!--BEGIN ACTIONS-->
            {% if not isReadOnlyMode %}
            <td class="text-center">
                <div class="btn-group flex-nowrap">
                    <!--BEGIN TOGGLE-->
                    <button class="btn btn-icon" :disabled="isRequestLoading" @click="toggleMonitor()">
                        {% if m.enabled %}
                        {% include "icons/pause.html" %}
                        {% else %}
                        {% include "icons/play.html" %}
                        {% endif %}
                    </button>
                    <!--END TOGGLE-->
                    <!--BEGIN DELETE-->
                    <button class="btn btn-icon text-red" :disabled="isRequestLoading" data-bs-toggle="modal"
                            data-bs-target="#deleteMonitorModal_{{ m.id }}">
                        {% include "icons/trash.html" %}
                    </button>
                    <!--END DELETE-->
                </div>
                <!--BEGIN DELETE MODAL-->
                <div class="modal" id="deleteMonitorModal_{{ m.id }}" tabindex="-1">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            <div class="modal-status bg-danger"></div>
                            <div class="modal-body text-center py-4">
                                <h3>Are you sure?</h3>
                                <div class="text-secondary">
                                    Do you really want to delete your monitor "{{ m.name }}"? All of your previously
                                    recorded metrics will be lost.
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="w-100">
                                    <div class="row">
                                        <div class="col">
                                            <a href="#" class="btn w-100" data-bs-dismiss="modal"> Cancel </a>
                                        </div>
                                        <div class="col">
                                            <button @click="deleteMonitor()" class="btn btn-danger w-100"
                                                    data-bs-dismiss="modal">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END DELETE MODAL-->
            </td>
            {% endif %}
            <!--END ACTIONS-->
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
