<div class="table-responsive">
    <table id="monitor-table" class="table table-vcenter card-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Last check</th>
        </tr>
        </thead>
        <tbody>
        {% for m in monitors%}
        <tr>
            <td>{{ m.name }}</td>
            <td>
                {% if m.enabled and m.uptimeStatus is not null %}
                <span class="status {% if m.uptimeStatus.literal == 'UP' %} status-green {% else %} status-red {% endif %}">
                    <span class="status-dot status-dot-animated"></span>{{ m.uptimeStatus.literal }}
                </span>
                {% elseif m.enabled and m.uptimeStatus is null %}
                <span class="status status-yellow">
                    <span class="status-dot status-dot-animated"></span>In Progress
                </span>
                {% elseif not m.enabled %}
                <span class="status status-gray">
                    <span class="status-dot"></span>Paused
                </span>
                {% endif %}
            </td>
            <td>{{ m.lastUptimeCheck | date("yyyy/MM/dd HH:mm") }}</td>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
