<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="navbar" class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
                <div class="row flex-column flex-md-row flex-fill align-items-center">
                    <div class="col">
                        <!-- BEGIN NAVBAR MENU -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <span class="nav-link-icon d-lg-inline-block">
                                        <svg th:replace="~{fragments/icons :: dashboard-outline}"></svg>
                                    </span>
                                    <span class="nav-link-title"> Dashboard </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/monitors">
                                    <span class="nav-link-icon d-lg-inline-block">
                                        <svg th:replace="~{fragments/icons :: binoculars}"></svg>
                                    </span>
                                    <span class="nav-link-title"> Monitors </span>
                                </a>
                            </li>
                        </ul>
                        <!-- END NAVBAR MENU -->
                    </div>
                    <div class="col col-md-auto">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/kuvasz-uptime/kuvasz/wiki" target="_blank">
                                    <span class="nav-link-icon d-lg-inline-block">
                                        <svg th:replace="~{fragments/icons :: book}"></svg>
                                  </span>
                                    <span class="nav-link-title"> Docs </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
