<configuration>
    <variable name="communicationLogLevel" value="${HTTP_COMMUNICATION_LOG_LEVEL:-TRACE}" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.akobor.kuvasz.services.HttpCommunicationLogger" level="${communicationLogLevel}" />
    <logger name="org.jooq.Constants" level="WARN"/>
    <logger name="org.jooq" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
