<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Kuvasz Uptime</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <script>
        // Setting the theme based on user preference eagerly
        (function() {
            const savedTheme = localStorage.getItem('kuvasz-theme') || 'light';
            document.documentElement.setAttribute('data-bs-theme', savedTheme);
        })();
    </script>
    <!-- Tabler CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/css/tabler.min.css">
</head>
<body>
<div class="page">
    {% include "fragments/main-header.html" %}

    {% if isAuthenticated %}
    {% include "fragments/navigation.html" %}
    {% endif %}

    <div class="page-wrapper">
        <!-- BEGIN PAGE HEADER -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        {% block pageTitle %}{% endblock %}

                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER -->
        <!-- BEGIN PAGE BODY -->
        <div class="page-body">
            <div class="container-xl">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- END PAGE BODY -->
        <!--  BEGIN FOOTER  -->
        {% include "fragments/footer.html" %}
        <!--  END FOOTER  -->
    </div>
</div>

<!-- Tabler JS from CDN -->
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/js/tabler.min.js"></script>
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
<script src="/public/js/kuvasz.js"></script>

<!-- Custom JS -->
{% block customScripts %}{% endblock %}
</body>
</html>
