{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Sign in</h2>
                        <!-- Display error message if login fails -->
                        {% if loginErrorMessage is not empty %}
                        <div class="alert alert-important alert-danger alert-dismissible"
                             role="alert">
                            <div class="alert-icon">
                                {% include "icons/circle-exclamation.html" %}
                            </div>
                            <div>
                                <h4 class="alert-heading">{{ loginErrorMessage }}</h4>
                            </div>
                            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                        </div>
                        {% endif %}
                        <!-- Login form -->
                        <form action="/auth/login" method="post">
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Enter username"
                                       required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" name="password"
                                       placeholder="Enter password"
                                       required>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary w-100">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
