name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Run Gradle check
      run: ./gradlew check --debug
    - name: Build shadowJar
      run: ./gradlew shadowJar

